<p-dialog header="New Stage in {{branch.name}} branch" [(visible)]="newStageDlgVisible">
  <input type="text" pInputText [(ngModel)]="stageName" (keydown)="newStageKeyDown($event)"/>
  <p-footer>
    <button type="button" (click)="cancelNewStage()" pButton icon="pi pi-times" label="Cancel"></button>
    <button type="button" (click)="addNewStage()" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Schema Validation" [(visible)]="schemaCheckDisplay" [modal]="true" [responsive]="true"
          [style]="{minWidth: '400px'}" [minY]="70" [maximizable]="true">
  <pre *ngIf="schemaCheckContent.error">{{ schemaCheckContent.error }}</pre>
  <div style="height: calc(100vh - 200px);">
    <ngx-codemirror *ngIf="schemaCheckContent.schema"
                    id="ngx-cm-json"
                    [(ngModel)]="schemaCheckContent.schema"
                    [options]="codeMirrorJsonOpts"></ngx-codemirror>
  </div>

  <p-footer style="display: flex; justify-content: space-between; align-items: center;">
    <div *ngIf="schemaCheckContent.schema" style="color: green;font-weight: bold;font-size: 1.4em;">
      <i class="pi pi-check" style="vertical-align: text-bottom;"></i>
      All ok
    </div>
    <div *ngIf="schemaCheckContent.error" style="color: red;font-weight: bold;font-size: 1.4em;">
      <i class="pi pi-exclamation-triangle" style="vertical-align: text-bottom;"></i>
      Error in schema code
    </div>
    <button type="button" pButton icon="pi pi-close" (click)="schemaCheckDisplay=false" label="Close"></button>
  </p-footer>
</p-dialog>


<div style="margin-bottom: 15px; display: flex; align-items: baseline;">
  <p-inplace #branchNameInplace>
    <span pInplaceDisplay style="font-size: 2rem; font-weight: bold;">
      {{branch.name}}
    </span>
    <span pInplaceContent>
      <input type="text" pInputText [(ngModel)]="newBranchName" (keydown)="branchNameKeyDown($event, branchNameInplace)"/>
    </span>
  </p-inplace>

  <div style="margin-left: 40px;">
    <a routerLink="/branches/{{branchId}}/ci">CI Results</a>   &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;   <a routerLink="/branches/{{branchId}}/dev">Dev Results</a>
  </div>

  <a routerLink="/branches/{{branchId}}/ci/flows/new">
    <button type="button" pButton icon="pi pi-caret-right" label="Run CI Flow" style="margin: 0 10px 0 100px;"></button>
  </a>
  <a routerLink="/branches/{{branchId}}/dev/flows/new">
    <button type="button" pButton icon="pi pi-caret-right" label="Run Dev Flow"></button>
  </a>

<!--
  <button type="button" (click)="forkBranch()" pButton icon="fa fa-code-fork" label="Fork Branch" style="margin: 0 10px 0 100px;"></button>
-->
</div>

<p-tabView>
  <p-tabPanel header="Stages">
    <div class="p-grid">
      <div class="p-col-3">
        <button type="button" (click)="newStage()" pButton icon="pi pi-plus" label="New Stage"></button>
        <div *ngFor="let stage of branch.stages" style="margin: 6px 0 12px 0; cursor: pointer;" class="round-shadow {{ stage.selectedClass }} {{ stage.enabled ? '' : 'disabled-stage' }}" (click)="selectStage(stage)">
          <div style="font-size: 1.1rem; font-weight: bold; margin-bottom: 4px;">{{stage.name}}</div>
          <div style="margin-bottom: 6px;">{{stage.description}}</div>
          <div style="font-size: 1.05rem;">Parent: {{stage.schema.parent}}</div>
          <div style="font-size: 1.05rem;">Trigger:
            <div *ngIf="stage.schema.triggers.parent === false || stage.schema.triggers.parent === true">
              - parent: {{stage.schema.triggers.parent}}
            </div>
            <div *ngIf="stage.schema.triggers.interval">
              - interval: {{stage.schema.triggers.interval}}
            </div>
            <div *ngIf="stage.schema.triggers.cron">
              - cron: {{stage.schema.triggers.cron}}
            </div>
            <div *ngIf="stage.schema.triggers.date">
              - date: {{stage.schema.triggers.date}}
            </div>
          </div>
          <div *ngIf="stage.schema.parameters" style="font-size: 1.05rem;">Parameters: {{stage.schema.parameters.length}}</div>
        </div>
      </div>
      <div class="p-col-9" style="padding-left: 40px;">
        <div *ngIf="branch.stages.length">
          <div class="p-grid">
            <div class="p-col-4">
              <p-inplace #stageNameInplace (onActivate)="stageNameInplaceActivated()">
                <span pInplaceDisplay style="font-size: 1.5rem; font-weight: bold;">
                  <span style="color: #999;">Stage</span> {{stage.name}}
                </span>
                <span pInplaceContent>
                  <input type="text" pInputText [(ngModel)]="newStageName" (keydown)="stageNameKeyDown($event, stageNameInplace)"/>
                </span>
              </p-inplace>

              Description:
              <p-inplace #stageDescrInplace (onActivate)="stageDescrInplaceActivated()">
                <span pInplaceDisplay>
                  {{stage.description || '(empty)'}}
                </span>
                <span pInplaceContent>
                  <textarea pInputTextarea [(ngModel)]="newStageDescr" (keydown)="stageDescrKeyDown($event, stageDescrInplace)"  [rows]="5" [cols]="60"></textarea>
                </span>
              </p-inplace>
            </div>
            <div class="p-col-1" style="margin-top: 25px;">
              <p-checkbox [(ngModel)]="stage.enabled" binary="true" label="Enabled"></p-checkbox>
            </div>
            <div class="p-col-2" style="margin-top: 25px;">
              <p-checkbox [(ngModel)]="stage.schema_from_repo_enabled" binary="true" label="Schema from Repo"></p-checkbox>
            </div>
          </div>

          <p-tabView>
            <p-tabPanel header="Schema">
              <div style="height: calc(100vh - 520px); padding: 5px 0 10px 0;">
                <ngx-codemirror
                  id="ngx-cm"
                  [(ngModel)]="stage.schema_code"
                  [options]="codeMirrorOpts"></ngx-codemirror>
              </div>
              <button type="button" (click)="checkStageSchema()" pButton icon="pi pi-eye" label="Check Schema"></button>
            </p-tabPanel>
            <p-tabPanel header="Schema from Repository">
              <div class="form-style-2">
                <form [formGroup]="schemaFromRepoForm">
                  <label for="repo_url"><span>Repo URL</span>
                    <input type="text" class="input-field" name="repo_url" pInputText formControlName="repo_url"/>
                  </label>

                  <label for="repo_branch"><span>Branch</span>
                    <input type="text" class="input-field" name="repo_branch" pInputText formControlName="repo_branch"/>
                  </label>

                  <label for="repo_access_token"><span>Access Token</span>
                    <input type="text" class="input-field" name="repo_access_token" pInputText formControlName="repo_access_token"/>
                  </label>

                  <label for="schema_file"><span>Schema File</span>
                    <input type="text" class="input-field" name="schema_file" pInputText formControlName="schema_file"/>
                  </label>

                  <label>
                    <p-button label="Reload" icon="pi pi-refresh" (onClick)="reloadSchema()"></p-button>
                  </label>
                </form>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
        <button type="button" (click)="saveStage()" pButton icon="pi pi-check" label="Save Stage" style="margin: 0 50px 0 0.25em;"></button>
        <button type="button" (click)="deleteStage()" pButton icon="pi pi-trash" class="p-button-danger" label="Delete Stage"></button>
        <span *ngIf="saveErrorMsg.length > 0">
          <p-message severity="error" [text]="saveErrorMsg" style="margin-left: 40px;"></p-message>
        </span>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Sequences">
    <table class="seqs-table">
      <tr>
        <th>Sequence Type</th>
        <th>Stage</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let s of sequences">
        <td style="text-align: right;">
          {{ getSeqTypeName(s) }}
        </td>
        <td>
          {{ s.stage_name ? s.stage_name : ''  }}
        </td>
        <td style="text-align: right;">
          {{ s.value }}
        </td>
      </tr>
    </table>
  </p-tabPanel>
  <p-tabPanel header="Configs">
  </p-tabPanel>
</p-tabView>
