.round-shadow
    padding: 10px 5px
    border: 1px solid #ddd
    border-radius: 5px
    box-shadow: 0 1px 3px #ddd
    position: relative

@import ~codemirror/lib/codemirror
@import ~codemirror/theme/material


::ng-deep body .ui-inplace .ui-inplace-display
  display: inherit
  padding: 0
