<p-dialog header="New Group" [(visible)]="newGroupDlgVisible">
    <div>
        Name:
        <input
            type="text"
            style="width: 100%;"
            pInputText
            [(ngModel)]="groupName"
            (keydown)="keyDownNewGroup($event)"
        />
    </div>
    <p-footer>
        <button type="button" (click)="cancelNewGroup()" pButton icon="pi pi-times" label="Cancel" class="p-button-outlined p-button-secondary"></button>
        <button type="button" (click)="addNewGroup()" pButton icon="pi pi-check" label="Add"></button>
    </p-footer>
</p-dialog>


<p-tabMenu [model]="tabs">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="display: flex; justify-content: space-between;">
            <div class="p-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div class="p-menuitem-text">
                <b>{{ item.label }}</b>
            </div>
            &nbsp;
            <div
                class="p-menuitem-icon pi pi-times"
                style="font-size: 1rem"
                (click)="closeTab($event, i)"
                *ngIf="i !== 0"
            ></div>
        </div>
    </ng-template>
</p-tabMenu>


<!-- Groups tab -->
<div *ngIf="activeTabIdx == 0">
    <div style="display: flex; justify-content: space-between; margin: 10px;">
        <div style="display: flex;">
            <button
                type="button"
                pButton
                label="Add New Group"
                icon="pi pi-plus"
                style="margin-right: 20px;"
                (click)="showNewGroupDlg()"
                [disabled]="!auth.hasPermission('manage')"
                [pTooltip]="auth.permTip('manage')"
            ></button>
            <button
                type="button"
                pButton
                label="Refresh"
                icon="pi pi-refresh"
                (click)="refreshGroupsList(groupsTable)"
            ></button>
        </div>
    </div>

    <p-menu #groupMenu [popup]="true" [model]="groupMenuItems"></p-menu>
    <p-table
        #groupsTable
        [value]="groups"
        [paginator]="true"
        paginatorPosition="top"
        [rows]="10"
        [lazy]="true"
        (onLazyLoad)="loadGroupsLazy($event)"
        [totalRecords]="totalGroups"
        [rowsPerPageOptions]="[10, 30, 100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{currentPage} of {totalPages} pages"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 1rem;">ID</th>
                <th style="width: 10rem;">Name</th>
                <th style="width: 10rem;">Project</th>
                <th style="width: 7rem;">Agents Count</th>
                <th style="width: 4rem;">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-g>
            <tr>
                <td>
                    <a routerLink="/agents-groups/{{ g.id }}">{{ g.id }}</a>
                </td>
                <td>
                    <a routerLink="/agents-groups/{{ g.id }}">{{ g.name }}</a>
                </td>
                <td>
                  <span *ngIf="g.project_id === null" style="color: #aaa;">(shared)</span>
                  <a *ngIf="g.project_id !== null" routerLink="/projects/{{ g.project_id }}">{{ g.project_name }}</a>
                </td>
                <td>{{ g.agents_count }}</td>
                <td>
                    <button
                        type="button"
                        pButton
                        icon="pi pi-bars"
                        (click)="showGroupMenu($event, groupMenu, g)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Single group tab -->
<div *ngIf="activeTabIdx != 0" class="p-component" style="margin: 8px;">
  <div style="margin: 12px 0;">
    <h3>
    <span>Group Name: {{ groupTab.group.name }}</span>
    <span style="padding-left: 20px;">Project: {{ groupTab.group.project_name ? groupTab.group.project_name : 'any' }}</span>
    </h3>
  </div>

  <h3>Agents Deployment</h3>
  <p-selectButton [options]="deploymentMethods"
                  [(ngModel)]="groupTab.group.deployment.method"
                  optionLabel="name"
                  optionValue="val"
                  dataKey="val"
                  (onChange)="deploymentMethodChange()"></p-selectButton>

  <div style="margin: 12px 6px 18px 12px;">
    <div *ngIf="groupTab.group.deployment.method == 0">
      <i>No extra configuration needed.</i>
    </div>

    <!-- AWS -->
    <div *ngIf="groupTab.group.deployment.method == 2" class="p-d-flex p-ai-start">
      <!-- column 1 -->
      <div class="p-mr-4">
        <h4>General</h4>
        <div class="p-field p-grid">
          <label for="region" class="p-col-fixed" style="width:100px">Region</label>
          <div class="p-col">
            <p-dropdown id="region"
                        [options]="regions"
                        [(ngModel)]="groupTab.group.deployment.aws.region"
                        optionLabel="RegionName"
                        optionValue="RegionName"
                        [style]="{width: '100%'}"
                        [filter]="true"
                        (onChange)="regionChange()"></p-dropdown>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="instancesLimit" class="p-col-fixed" style="width:100px">Instances Limit</label>
          <div class="p-col">
            <p-inputNumber [(ngModel)]="groupTab.group.deployment.aws.instances_limit" [showButtons]="true"
                           inputId="instancesLimit"
                           buttonLayout="horizontal"
                           spinnerMode="horizontal"
                           [min]="0"
                           size="4"
                           maxlength="5"
                           decrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus">
            </p-inputNumber>

          </div>
        </div>
        <div class="p-field p-grid">
          <label for="defaultImage" class="p-col-fixed" style="width:100px">Default AMI Image</label>
          <div class="p-col">
            <input id="defaultImage" type="text" [(ngModel)]="groupTab.group.deployment.aws.default_image" pInputText>
          </div>
        </div>
      </div>

      <!-- column 2 -->
      <div class="p-mr-4">
        <h4>VM Options</h4>
        <div class="p-field p-grid">
          <label for="instanceType" class="p-col-fixed" style="width:100px">Instance Type</label>
          <div class="p-col">
            <p-dropdown id="instanceType"
                        [options]="instanceTypes"
                        [(ngModel)]="groupTab.group.deployment.aws.instance_type"
                        optionLabel="InstanceType"
                        optionValue="InstanceType"
                        [style]="{width: '10em'}"
                        scrollHeight="300px"
                        [filter]="true"></p-dropdown>
          </div>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="groupTab.group.deployment.aws.spot_instance" binary="true" inputId="spotInstance"></p-checkbox>
          <label for="spotInstance">Spot Instance</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="groupTab.group.deployment.aws.monitoring" binary="true" inputId="monitoring"></p-checkbox>
          <label for="monitoring">Monitoring</label>
        </div>
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="groupTab.group.deployment.aws.cpu_credits_unlimited" binary="true" inputId="cpuCreditsUnlimited"></p-checkbox>
          <label for="cpuCreditsUnlimited">CPU Credits Unlimited</label>
        </div>
      </div>

      <!-- column 3 -->
      <div class="p-mr-4">
        <h4>Init Script</h4>
        <textarea [(ngModel)]="groupTab.group.deployment.aws.init_script" [rows]="10" [cols]="50" style="font-family: monospace;" pInputTextarea></textarea>
      </div>

      <!-- column 4 -->
      <div>
        <h4>Destruction</h4>
        <div style="margin: 5px;">
          <label for="maxJobsIn">Destroy VM after
            <p-inputNumber [(ngModel)]="groupTab.group.deployment.aws.destruction_after_jobs" [showButtons]="true"
                           inputId="maxJobsIn"
                           buttonLayout="horizontal"
                           spinnerMode="horizontal"
                           [min]="1"
                           size="2"
                           maxlength="4"
                           decrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
            jobs (0 means disabled)
          </label>
        </div>
        <div style="margin: 5px;">
          <label for="idleTimeIn">Destroy VM after
            <p-inputNumber [(ngModel)]="groupTab.group.deployment.aws.destruction_after_time" [showButtons]="true"
                           inputId="idleTimeIn"
                           buttonLayout="horizontal"
                           spinnerMode="horizontal"
                           [min]="0"
                           [step]="5"
                           size="2"
                           maxlength="5"
                           decrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonClass="p-button-secondary p-button-outlined"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
            minutes of idle time (0 means disabled)
          </label>
        </div>
      </div>
    </div>

  </div>

  <p-button label="Save" icon="pi pi-check" (onClick)="saveGroup()"
            [disabled]="!auth.hasPermission('manage')"
            [pTooltip]="auth.permTip('manage')"></p-button>

</div>
