*~
__pycache__
*pyc
*jar
node_modules
venv
/old
/tools
/agent/kraken/agent/consts.py
/agent/kraken/agent/logs.py
/agent/kraken_agent.egg-info
/server/kraken_server.egg-info
/agent/dist-agent/
/agent/dist-tool/
/agent/kkagent
/agent/kktool
/server/dist/
/server/kkcelery
/server/kkplanner
/server/kkscheduler
/server/kkserver
/server/kkgunicorn
/server/kkdbmigrate
/server/kkwatchdog
/server/kkstorage

/ui/src/environments/environment.prod.ts

/kraken-docker-stack-*.yaml
/docker-compose-*.yaml

/.vagrant
