*~
__pycache__
*pyc
*jar
TODO
node_modules
venv
/archive
/old
/tools
/agent/.coverage
/agent/kraken/agent/consts.py
/agent/kraken/agent/logs.py
/agent/kraken_agent.egg-info
/agent/build/
/agent/dist-agent/
/agent/dist-tool/
/agent/kkagent
/agent/kktool
/server/kraken_server.egg-info
/server/dist/
/server/kraken/version.py
/server/kkagent
/server/kktool
/server/tests/example_tool/vendor/
/server/nssm-2.24.zip
/client/dist/
/client/kraken/client/version.py
/client/kraken/client/toolops.py
/client/pyproject.toml
/client/kraken/agent/

/ui/src/environments/environment.prod.ts
/ui/dist/kraken/main-es5*
/ui/dist/kraken/main-es2015*

/kraken-docker-stack-*.yaml
/kraken-docker-compose-*.yaml

/.vagrant

/clickhouse-proxy/target
