.level0
  width: 100%
.level1
  width: 95%
.level2
  width: 90%
.level3
  width: 85%
.level4
  width: 80%
.level5
  width: 75%
.level6
  width: 70%
.level7
  width: 65%
.level8
  width: 60%
.level9
  width: 55%
