<div style="background-color: black; color: #ccc; padding: 10px; height: 75vh; font-family: Menlo, DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New, andale mono, lucida console, monospace; font-size: 12px; overflow-y: auto;" #logBox  (scroll)="scrolled($event)">
  <div *ngFor="let frag of logFragments" #logFrag>
    <div *ngIf="frag.title" style="font-size: 1.2em; font-weight: bold; color: lawngreen; cursor: pointer;" (click)="frag.expanded = !frag.expanded">
      <i *ngIf="!frag.expanded" class="pi pi-caret-right" style="vertical-align: bottom;"></i>
      <i *ngIf="frag.expanded" class="pi pi-caret-down" style="vertical-align: bottom;"></i>
      {{frag.title}}
    </div>
    <div *ngIf="frag.expanded">
      <div *ngFor="let log of frag.logs" style="white-space: pre-wrap; overflow-x: auto; word-break: break-word; margin: 0;" [ngStyle]="log.style" [innerHTML]="log.message"></div>
    </div>
  </div>
</div>
