<div style="display: flex; justify-content: space-between;">
<h2 style="padding-left: 7px;">{{ project.name }}</h2>

<div style="float: right;">
  <p-button label="New Branch" icon="pi pi-plus" (onClick)="newBranch()"
            [disabled]="!auth.hasPermission('manage')"
            [pTooltip]="auth.permTip('manage')"></p-button>
  <p-button label="Archive Project" icon="pi pi-trash" styleClass="p-button-danger p-button-outlined" [style]="{'margin-left': '30px'}" (onClick)="deleteProject()"
            [disabled]="!auth.hasPermission('manage')"
            [pTooltip]="auth.permTip('manage')"></p-button>
</div>
</div>

<p-dialog header="New Branch in {{project.name}}" [(visible)]="newBranchDlgVisible">
  <input type="text" pInputText [(ngModel)]="branchName" (keydown)="newBranchKeyDown($event)"/>
  <p-footer>
    <button type="button" (click)="cancelNewBranch()" pButton icon="pi pi-times" label="Cancel" class="p-button-outlined p-button-secondary"></button>
    <button type="button" (click)="addNewBranch()" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>

<p-tabView>
    <!-- RESULTS OVERVIEW -->
    <p-tabPanel header="Results Overview">
      <div class="p-grid">
        <div *ngFor="let branch of project.branches" style="padding: 15px;" class="p-col-6">
          <div style="font-weight: bold; font-size: 1.5em; margin: 0 0 10px 0; background: #eee; padding: 10px;">
            <i class="fa fa-code-fork" style="vertical-align: bottom; font-size: 1.7em; margin-right: 10px;"></i>
            <a routerLink="/branches/{{ branch.id }}">
              {{ branch.name }}
            </a>
          </div>

          <div class="p-grid">
            <div class="p-col-6" *ngFor="let flows of getFlows(branch)">
              <b style="width: 100px; display: inline-block; font-size: 1.4em; margin: 0 0 10px 2px;">
                <a routerLink="/branches/{{ branch.id }}/{{ flows.name.toLowerCase() }}">{{ flows.name }} flows</a>
              </b>
              {{ flows.flows.length === 0 ? 'no flows yet' : '' }}
              <table *ngIf="flows.flows.length > 0">
                <tr *ngFor="let flow of flows.flows" style="padding: 3px 6px;">
                  <td><b><a routerLink="/flows/{{ flow.id }}">{{ flow.id }}</a>.</b><td>
                  <td><a routerLink="/flows/{{ flow.id }}" style="color: black;">{{ flow.created | localtime:'YYYY-MM-DD HH:mm' }}</a><td>
                  <td>
                    <span *ngIf="flow.tests_total > 0" [ngStyle]="{'border-radius': '4px', 'background-color': flow.tests_color, 'padding': '1px 3px', 'margin-right': '2px'}">{{ flow.tests_pass_ratio }}% pass</span>
                    <span *ngIf="flow.fix_cnt > 0" style="border-radius: 4px; background-color: #beffbe; padding: 1px 3px; margin-right: 2px;">{{ flow.fix_cnt }} fixes</span>
                    <span *ngIf="flow.regr_cnt > 0" style="border-radius: 4px; background-color: #ffc8c8; padding: 1px 3px; margin-right: 2px;">{{ flow.regr_cnt }} regrs</span>
                    <span *ngIf="flow.issues_new > 0" style="border-radius: 4px; background-color: #ffc8c8; padding: 1px 3px; margin-right: 2px;">{{ flow.issues_new }} new issues</span>
                  <td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- SECRETS -->
    <p-tabPanel header="Secrets">
      <p-button label="New Secret" icon="pi pi-plus" (onClick)="newSecret()"
                [disabled]="!auth.hasPermission('manage')"
                [pTooltip]="auth.permTip('manage')"></p-button>
      <div class="p-grid">
        <div class="p-col-3">
          <div *ngFor="let s of project.secrets" style="margin: 6px 0 12px 6px; cursor: pointer;" class="round-shadow {{ s.selectedClass }}" (click)="selectSecret(s)">
            <div style="font-size: 1.1rem; font-weight: bold; margin-bottom: 4px;">{{s.name}}</div>
            <div style="font-size: 1.05rem;">Type: {{ s.kind }}</div>
            <div *ngIf="s.kind === 'ssh-key'">
              <div style="font-size: 1.05rem;">Username: {{ s.username }}</div>
            </div>
          </div>
        </div>

        <div class="p-col-1">
        </div>

        <div *ngIf="secretMode > 0" class="p-col-5 form-style-2">

          <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
          <div class="form-style-2-heading">Secret Details</div>
          <form [formGroup]="secretForm">
            <label for="name"><span>Name <span class="required">*</span></span>
              <input type="text" class="input-field" name="name" pInputText formControlName="name"/>
            </label>

            <label for="kind"><span>Type</span>
              <select name="kind" class="select-field" formControlName="kind">
                <option value="simple">Simple Secret</option>
                <option value="ssh-key">SSH Username & Key</option>
              </select>
            </label>

            <div *ngIf="secretForm.value.kind === 'simple'">
              <label for="secret"><span>Secret <span class="required">*</span></span>
                <textarea name="secret" formControlName="secret" class="textarea-field"  rows="30" cols="65"></textarea>
              </label>
            </div>

            <div *ngIf="secretForm.value.kind === 'ssh-key'">
              <label for="username"><span>Username <span class="required">*</span></span>
                <input type="text" class="input-field" name="username" pInputText formControlName="username"/>
              </label>

              <label for="key"><span>Private Key <span class="required">*</span></span>
                <textarea name="key" formControlName="key" class="textarea-field"  rows="30" cols="65"></textarea>
              </label>
            </div>

            <label><span> </span>
              <p-button *ngIf="secretMode === 1" label="Add" icon="pi pi-plus" (onClick)="secretAdd()"
                        [disabled]="!auth.hasPermission('manage')"
                        [pTooltip]="auth.permTip('manage')"></p-button>
              <p-button *ngIf="secretMode === 2" label="Save" icon="pi pi-plus" (onClick)="secretSave()"
                        [disabled]="!auth.hasPermission('manage')"
                        [pTooltip]="auth.permTip('manage')"></p-button>
              <p-button *ngIf="secretMode === 2" label="Delete" icon="pi pi-trash" [style]="{'margin-left': '20px'}" styleClass="p-button-danger" (onClick)="secretDelete()"
                        [disabled]="!auth.hasPermission('manage')"
                        [pTooltip]="auth.permTip('manage')"></p-button>
            </label>
          </form>

        </div>
      </div>
    </p-tabPanel>

    <!-- WEB HOOKS -->
    <p-tabPanel header="Web Hooks">
      <div style="font-size: 1.3em; font-weight: bold; margin-bottom: 8px;">GitHub</div>
      <div style="margin: 0 0 8px 3px;">
        <p-checkbox [(ngModel)]="project.webhooks.github_enabled" binary="true" label="Enabled"></p-checkbox>
      </div>
      <table *ngIf="project.webhooks.github_enabled" style="margin: 0 0 10px 0;">
        <tr>
          <td style="vertical-align: top; width: 80px;">URL</td>
          <td>
            <span style="font-size: 1.2em;">{{ getBaseUrl() }}/webhooks/{{ project.id }}/github</span>
          </td>
        </tr>
        <tr>
          <td>Secret</td>
          <td>{{ getOrGenerateSecret() }}</td>
        </tr>
        <tr><td colspan="2">
            <div style="color: #777; margin-top: 10px;">use URL and Secret on GitHub WebHooks setup page to trigger this project</div>
        </td></tr>
      </table>
      <p-button label="Save" icon="pi pi-check" (onClick)="saveWebhooks()"
                [disabled]="!auth.hasPermission('manage')"
                [pTooltip]="auth.permTip('manage')"></p-button>
    </p-tabPanel>
</p-tabView>
