<div style="display: flex; justify-content: space-between;">
<h2 style="padding-left: 7px;">{{ project.name }}</h2>

<div style="float: right;">
  <p-button label="New Branch" icon="pi pi-plus" (onClick)="newBranch()"
            [disabled]="!auth.hasPermission(projectId, 'pwrusr')"
            [pTooltip]="auth.permTip(projectId, 'pwrusr')"></p-button>
  <p-button label="Archive Project" icon="pi pi-trash" styleClass="p-button-danger p-button-outlined" [style]="{'margin-left': '30px'}" (onClick)="deleteProject()"
            [disabled]="!auth.hasPermission(projectId, 'admin')"
            [pTooltip]="auth.permTip(projectId, 'admin')"></p-button>
</div>
</div>

<p-dialog header="New Branch in {{project.name}}" [(visible)]="newBranchDlgVisible">
    <div class="field grid">
        <label for="branchDisplayName" class="col-fixed" style="width: 10rem;">Display Name</label>
        <div class="col">
            <input id="branchDisplayName" type="text" [(ngModel)]="branchDisplayName" (keydown)="newBranchKeyDown($event)" autofocus pInputText>
        </div>
    </div>
    <div class="field grid">
        <label for="branchRepoName" class="col-fixed" style="width: 10rem;">Name in the Repo</label>
        <div class="col">
            <input id="branchRepoName" type="text" [(ngModel)]="branchRepoName" (keydown)="newBranchKeyDown($event)" pInputText>
        </div>
    </div>

  <p-footer>
    <button type="button" (click)="cancelNewBranch()" pButton icon="pi pi-times" label="Cancel" class="p-button-outlined p-button-secondary"></button>
    <button type="button" (click)="addNewBranch()" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>

<p-tabView>
    <!-- RESULTS OVERVIEW -->
    <p-tabPanel header="Results Overview">
      <div class="grid">
        <div *ngFor="let branch of project.branches" style="padding: 15px;" class="col-6">
          <div style="font-weight: bold; font-size: 1.5em; margin: 0 0 10px 0; background: var(--kk-bg-color2); padding: 10px;">
            <i class="fa fa-code-fork" style="vertical-align: bottom; font-size: 1.7em; margin-right: 10px;"></i>
            <a routerLink="/branches/{{ branch.id }}">
              {{ branch.name }}
            </a>
          </div>

          <div class="grid">
            <div class="col-6" *ngFor="let flows of getFlows(branch)">
              <b style="width: 100px; display: inline-block; font-size: 1.4em; margin: 0 0 10px 2px;">
                <a routerLink="/branches/{{ branch.id }}/{{ flows.name.toLowerCase() }}">{{ flows.name }} flows</a>
              </b>
              {{ flows.flows.length === 0 ? 'no flows yet' : '' }}
              <table *ngIf="flows.flows.length > 0" >
                <tr *ngFor="let flow of flows.flows" style="padding: 3px 6px;">
                  <td style="vertical-align: top; width: 3em;"><b><a routerLink="/flows/{{ flow.id }}">{{ flow.id }}</a>.</b></td>
                  <td style="vertical-align: top;"><a routerLink="/flows/{{ flow.id }}" style="color: var(--kk-color);">{{ flow.created | localtime:'yyyy-LL-dd HH:mm' }}</a></td>
                  <td style="vertical-align: top;">
                    <span *ngIf="flow.tests_total > 0"
                          [ngStyle]="{'border-radius': '4px', 'background-color': flow.tests_color, 'padding': '1px 3px', 'margin-right': '2px'}">{{ flow.tests_pass_ratio }}%&nbsp;pass</span>
                    <span *ngIf="flow.fix_cnt > 0" style="border-radius: 4px; background-color: var(--greenish1); padding: 1px 3px; margin-right: 2px;">{{ flow.fix_cnt }}&nbsp;fixes</span>
                    <span *ngIf="flow.regr_cnt > 0" style="border-radius: 4px; background-color: var(--redish1); padding: 1px 3px; margin-right: 2px;">{{ flow.regr_cnt }}&nbsp;regrs</span>
                    <span *ngIf="flow.issues_new > 0" style="border-radius: 4px; background-color: var(--redish1); padding: 1px 3px; margin-right: 2px;">{{ flow.issues_new }}&nbsp;new&nbsp;issues</span>
                    <a routerLink="/flows/{{ flow. id }}/results-charts"><i *ngIf="flow.tests_total > 0" class="pi pi-chart-line" style="padding-left: 1em;" ></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- SECRETS -->
    <p-tabPanel header="Secrets" *ngIf="auth.hasPermission(projectId, 'admin')">
      <p-button label="New Secret" icon="pi pi-plus" (onClick)="newSecret()"></p-button>

      <div class="grid">

        <!-- secrets list -->
        <div class="col-3">
          <div *ngFor="let s of project.secrets" style="margin: 6px 0 12px 0; cursor: pointer;" class="round-shadow {{ s.selectedClass }}" (click)="selectSecret(s)">
            <div style="font-size: 1.1rem; font-weight: bold; margin-bottom: 4px;">{{s.name}}</div>
            <div style="font-size: 1.05rem;">Type: {{ s.kind }}</div>
            <div *ngIf="s.kind === 'ssh-key'">
              <div style="font-size: 1.05rem;">Username: {{ s.username }}</div>
            </div>
          </div>
        </div>

        <!-- secret details -->
        <div *ngIf="secretMode > 0" class="col-9 pl-5">
            <h3 class="">Secret <b>{{ secretForm.value.name }}</b></h3>
            <form [formGroup]="secretForm">
                <div class="formgrid grid">
                    <!-- common fields -->
                    <div class="col-6 grid field">
                        <label for="name" class="col-fixed" style="width: 5em">Name</label>
                        <div class="col">
                            <input id="name" type="text" class="inputfield w-full" formControlName="name" pInputText>
                        </div>
                    </div>
                    <div class="col-6 grid field">
                        <label for="kind" class="col-fixed" style="width: 5em">Type</label>
                        <div class="col">
                            <p-dropdown name="kind"
                                        formControlName="kind"
                                        [options]="secretKinds"
                                        optionLabel="name"
                                        optionValue="value"
                                        [style]="{width: '100%'}"
                                        ></p-dropdown>
                        </div>
                    </div>

                    <!-- simple secret -->
                    <div *ngIf="secretForm.value.kind === 'simple'" class="col-12 grid field">
                        <label for="secret" class="col-fixed align-items-start" style="width: 5em">Secret</label>
                        <div class="col">
                            <textarea name="secret" formControlName="secret" style="height: calc(100vh - 32rem)" class="monospace w-full" pInputTextarea></textarea>
                        </div>
                    </div>

                    <!-- ssh-key -->
                    <ng-container *ngIf="secretForm.value.kind === 'ssh-key'">
                        <div class="col-12 grid field">
                            <label for="username" class="col-fixed" style="width: 5em">Username</label>
                            <div class="col">
                                <input id="username" type="text" class="inputfield w-full" formControlName="username" pInputText>
                            </div>
                        </div>

                        <div class="col-12 grid field">
                            <label for="key" class="col-fixed align-items-start" style="width: 5em">Private Key</label>
                            <div class="col">
                                <textarea name="key" formControlName="key" style="height: calc(100vh - 34rem)" class="monospace w-full" pInputTextarea></textarea>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <!-- action buttons -->
                <div class="flex justify-content-between">
                    <p-button *ngIf="secretMode === 1" label="Add" icon="pi pi-plus" (onClick)="secretAdd()"></p-button>
                    <p-button *ngIf="secretMode === 2" label="Save" icon="pi pi-check" (onClick)="secretSave()"></p-button>

                    <p-button *ngIf="secretMode === 2" label="Delete" icon="pi pi-trash" [style]="{'margin-left': '20px'}"
                              styleClass="p-button-danger p-button-outlined"
                              (onClick)="secretDelete()"></p-button>
                </div>
            </form>
        </div>

      </div>
    </p-tabPanel>

    <!-- WEB HOOKS -->
    <p-tabPanel header="Web Hooks" *ngIf="auth.hasPermission(projectId, 'admin')">

        <div>
        <div *ngFor="let srv of webhookServices" style="margin: 0 0 30px 10px;">

            <div style="font-size: 1.3em; font-weight: bold; margin-bottom: 8px;">
                <img [src]="srv.logoUrl" height="32px" style="vertical-align: bottom;">
                {{ srv.displayName }}
            </div>
            <div style="margin: 0 0 8px 10px;">
                <p-checkbox [(ngModel)]="project.webhooks[srv.name + '_enabled']" binary="true" label="Enabled"></p-checkbox>
            </div>
            <table *ngIf="project.webhooks[srv.name + '_enabled']" style="margin: 0 0 10px 10px;">
                <tr>
                    <td style="vertical-align: top; width: 80px;">URL</td>
                    <td>
                        <span style="font-size: 1.2em;">{{ getBaseUrl() }}/webhooks/{{ project.id }}/{{ srv.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Secret</td>
                    <td>{{ getOrGenerateSecret(srv.name) }}</td>
                </tr>
                <tr><td colspan="2">
                        <div style="color: #777; margin-top: 10px;">use URL and Secret on {{ srv.displayName }} WebHooks setup page to trigger this project</div>
                </td></tr>
            </table>

        </div>
        </div>

        <p-button label="Save" icon="pi pi-check" (onClick)="saveWebhooks()"></p-button>
    </p-tabPanel>
</p-tabView>
