#jobs td
  padding: 4px 4px

#jobs th
  padding: 0.6rem 0.3rem

// make cmd-line button in tests results table smaller to avoid increasing height of rows in the table
::ng-deep body .cmd-line-btn.p-button
  padding: 0.2rem 0.5rem

.step-status-red
  color: #FF0000

.step-status-green
  color: #008800

// fix right content in paginator so it does not move all elemets to left and right content to right
::ng-deep .p-paginator .p-paginator-right-content
  margin-left: 20px

// TODO: it seems that it does not work
::ng-deep body .job-tabview .p-tabview .p-tabview-panels .p-tabview-panel
  overflow-x: scroll

// location column in issues table
.location
    overflow-x: hidden
    max-width: 0
    text-overflow: ellipsis
    direction: rtl
    white-space: nowrap

.location:hover
  overflow: visible


// reduce padding around log box
::ng-deep body .job-tabview.p-tabview .p-tabview-panels
  padding: 1rem 1rem 0 1rem
