.result0
  color: #FF8800
.result1
  color: #008800
.result2
  color: #FF2200
.result3
  color: #880000
.result4
  color: #888888
.result5
  color: #444444

#results td
  padding: 2px 4px

// make cmd-line button in tests results table smaller to avoid increasing height of rows in the table
::ng-deep body .cmd-line-btn.p-button
  padding: 0.2rem 0.5rem

.step-status-red
  color: #FF0000

.step-status-green
  color: #008800


.result-regr
  color: #800
  font-weight: bold

.result-fix
  color: #080
  font-weight: bold

.result-new
  color: #5095ff
  font-weight: bold

// fix right content in paginator so it does not move all elemets to left and right content to right
::ng-deep .p-paginator .p-paginator-right-content
  margin-left: 20px

// TODO: it seems that it does not work
::ng-deep body .job-tabview .p-tabview .p-tabview-panels .p-tabview-panel
  overflow-x: scroll

// location column in issues table
.location
    overflow-x: hidden
    max-width: 0
    text-overflow: ellipsis
    white-space: nowrap

.location:hover
  overflow: visible


// reduce padding around log box
::ng-deep body .job-tabview.p-tabview .p-tabview-panels
  padding: 1rem 1rem 0 1rem
