<!-- New Project dialog -->
<p-dialog header="New Project" [(visible)]="newProjectDlgVisible">
  <input type="text" pInputText [(ngModel)]="projectName" (keydown)="newProjectKeyDown($event)"/>
  <p-footer>
    <button type="button" (click)="cancelNewProject()" pButton icon="pi pi-times" label="Cancel" class="p-button-secondary"></button>
    <button type="button" (click)="addNewProject()" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>

<!-- New Branch dialog -->
<p-dialog header="New Branch in {{selectedProject.name}}" [(visible)]="newBranchDlgVisible">
  <input type="text" pInputText [(ngModel)]="branchName" (keydown)="newBranchKeyDown($event)"/>
  <p-footer>
    <button type="button" (click)="cancelNewBranch()" pButton icon="pi pi-times" label="Cancel" class="p-button-secondary"></button>
    <button type="button" (click)="addNewBranch()" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>


<!-- Page header -->
<div style="margin-bottom: 10px;">
  <p-button label="New Project" icon="pi pi-plus" (onClick)="newProject()"></p-button>
</div>

<!-- Grid with all projects -->
<div class="p-grid">
  <div class="p-col-6" *ngFor="let proj of projects">
    <div class="round-shadow" style="height: 100%;">
      <div style="display: flex; justify-content: space-between;">
        <div style="font-size: 1.7em; margin-top: 2px;">
          <a routerLink="/projects/{{ proj.id }}" style="color: black;">Project <b>{{proj.name}}</b></a>
        </div>
        <div style="margin-top: 10px;">
          <a pButton icon="pi pi-cog" routerLink="/projects/{{ proj.id }}" class="p-button-secondary p-button-sm" style="margin-right: 6px;"></a>
          <p-button label="New Branch" icon="pi pi-plus" (onClick)="newBranch(proj)" styleClass="p-button-secondary p-button-sm"></p-button>
        </div>
      </div>

      <div class="p-grid">
        <div *ngFor="let branch of proj.branches" style="padding: 12px 0 0 12px;" class="p-col-4">
          <div style="font-weight: bold; font-size: 1.5em; margin: 0 0 10px 0;">
            <i class="fa fa-code-fork" style="vertical-align: bottom; font-size: 1.7em; margin-right: 10px;"></i>
            <a routerLink="/branches/{{ branch.id }}/ci">
              {{ branch.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
