<div style="margin-bottom: 10px;">
  <p-button label="New Project" icon="pi pi-plus" (onClick)="newProject()"></p-button>

  <p-dialog header="New Project" [(visible)]="newProjectDlgVisible">
    <input type="text" pInputText [(ngModel)]="projectName" (keydown)="newProjectKeyDown($event)"/>
    <p-footer>
      <button type="button" (click)="cancelNewProject()" pButton icon="pi pi-times" label="Cancel"></button>
      <button type="button" (click)="addNewProject()" pButton icon="pi pi-check" label="Add"></button>
    </p-footer>
  </p-dialog>
</div>

<div class="p-grid">
  <p-dialog header="New Branch in {{selectedProject.name}}" [(visible)]="newBranchDlgVisible">
    <input type="text" pInputText [(ngModel)]="branchName" (keydown)="newBranchKeyDown($event)"/>
    <p-footer>
      <button type="button" (click)="cancelNewBranch()" pButton icon="pi pi-times" label="Cancel"></button>
      <button type="button" (click)="addNewBranch()" pButton icon="pi pi-check" label="Add"></button>
    </p-footer>
  </p-dialog>

  <div class="p-col-6" *ngFor="let proj of projects">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span style="font-size:16px; display:inline-block; margin-top: 2px;">Project <b>{{proj.name}}</b></span>
          <div style="display:inline-block; float: right;">
            <p-button label="New Branch" icon="pi pi-plus" (onClick)="newBranch(proj)"></p-button>
          </div>
        </div>
      </p-header>

      <p-tree [value]="proj.branches"
              selectionMode="single"
              emptyMessage="No branches yet."
              [style]="{width: '100%', 'border-width': 0}">

        <ng-template let-node  pTemplate="branch">
          <div style="width: 600px;">
            <b style="width: 100px; display: inline-block;">
              <a routerLink="/branches/{{node.branchId}}" routerLinkActive="active">
                {{node.label}} <i class="pi pi-cog" style="vertical-align: bottom;"></i>
              </a>
            </b>
          </div>
        </ng-template>

        <ng-template let-node  pTemplate="ci_dev">
          <b style="width: 100px; display: inline-block;"><a routerLink="{{node.url}}" routerLinkActive="active">{{node.label}}</a></b>
          {{node.extraText}}
        </ng-template>

        <ng-template let-node  pTemplate="default">
          <a routerLink="/flows/{{node.id}}">{{node.id}}.</a> {{node.label}}
        </ng-template>

      </p-tree>

    </p-panel>
  </div>
</div>
