billiard==3.6.1.0
celery==4.3.0
certifi==2018.11.29
chardet==3.0.4
connexion==2.2.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
kombu==4.6.5
MarkupSafe==1.1.0
more-itertools==7.2.0
openapi-spec-validator==0.2.4
pathlib==1.0.1
psycopg2==2.8.3
Pygments==2.4.2
pytz==2019.2
PyYAML==4.2b4
redis==3.3.8
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.0
swagger-ui-bundle==0.0.3
urllib3==1.24.2
vine==1.3.0
Werkzeug==0.15.3
zipp==0.6.0
apscheduler==3.6.1
pytimeparse==1.1.8
python-dateutil==2.8.0
elasticsearch==7.0.5
gunicorn==20.0.4
RestrictedPython==5.0
alembic==1.3.2
giturlparse.py==0.0.5
pyftpdlib==1.5.5
setuptools==49.6.0
