<app-tabbed-page baseLinkUrl="/settings" (tabChanged)="handleTabChange($event)">
    <app-tabbed-page-tab label="General">
        <form [formGroup]="generalForm" class="p-component">

            <h3>Addresses</h3>
            <div style="max-width: 60em" class="ml-2 mb-3">
                The addresses below are used when Kraken Agent is connecting to
                Kraken Server remotelly from different network, ie. internal
                address of Kraken Server e.g. from Docker Compose cannot be
                used as it is unreachable. The same applies to Clickhouse for
                collecting logs and MinIO for storing artifacts.
            </div>

            <div class="field grid">
                <label for="server_url" class="col-fixed w-10rem">Kraken Server URL</label>
                <i class="pi pi-question-circle mr-2 text-400 hover:text-600 transition-colors transition-duration-200 cursor-pointer"
                   pTooltip="Kraken Server URL accessible from external Kraken Agents."></i>
                <div class="col">
                    <input pInputText type="text" id="server_url" formControlName="server_url" placeholder="ex: https://kraken.mycorp.com"
                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <div class="field grid"> <!-- (storage for artifacts) (ip:port) -->
                <label for="minio_addr" class="col-fixed w-10rem">MinIO / S3 Address</label>
                <i class="pi pi-question-circle mr-2 text-400 hover:text-600 transition-colors transition-duration-200 cursor-pointer"
                   pTooltip="MinIO's IP address and port accessible from external Kraken Agents."></i>
                <div class="col">
                    <input pInputText type="text" id="minio_addr" formControlName="minio_addr" placeholder="ex: 1.2.3.4:9999"
                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <div class="field grid"> <!-- (storage for logs) (ip:port) -->
                <label for="clickhouse_addr" class="col-fixed w-10rem">ClickHouse Proxy Address</label>
                <i class="pi pi-question-circle mr-2 text-400 hover:text-600 transition-colors transition-duration-200 cursor-pointer"
                   pTooltip="Clickhouse Proxy's IP address and port accessible from external Kraken Agents."></i>
                <div class="col">
                    <input pInputText type="text" id="clickhouse_addr" formControlName="clickhouse_addr" placeholder="ex: 1.2.3.4:9001"
                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <h3>Global Log Retention Policy</h3>

            <div class="field grid">
                <label for="clickhouse_log_ttl" class="col-fixed w-10rem">Logs TTL in Months</label>
                <i class="pi pi-question-circle mr-2 text-400 hover:text-600 transition-colors transition-duration-200 cursor-pointer"
                   pTooltip="Defines the number of months for how long all the logs (from Kraken Server and all Agents) will be kept in Clickhouse."></i>
                <div class="col">
                    <p-inputNumber inputId="clickhouse_log_ttl" formControlName="clickhouse_log_ttl" placeholder="ex: 3" mode="decimal" [min]="1" [max]="20">
                    </p-inputNumber>
                </div>
            </div>

        </form>
    </app-tabbed-page-tab>

  <app-tabbed-page-tab label="Notifications">
      <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
      <form [formGroup]="notificationForm" class="form-style-2">

        <div class="form-style-2-heading">E-Mail</div>
        <label for="smtp_server"><span>SMTP Server</span>
          <input type="text" class="input-field" name="smtp_server" pInputText formControlName="smtp_server"/>
        </label>
        <label for="smtp_tls"><span>SMTP SSL/TLS</span>
          <p-inputSwitch formControlName="smtp_tls" name="smtp_tls"></p-inputSwitch>
        </label>
        <label for="smtp_from"><span>From Address</span>
          <input type="text" class="input-field" name="smtp_from" pInputText formControlName="smtp_from"/>
        </label>
        <label for="smtp_user"><span>SMTP User</span>
          <input type="text" class="input-field" name="smtp_user" pInputText formControlName="smtp_user"/>
        </label>
        <label for="smtp_password"><span>SMTP Password</span>
          <input type="password" class="input-field" name="smtp_password" pPassword [feedback]="false" formControlName="smtp_password"/>
        </label>

        <p-button label="Test Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('email')"
                  [loading]="emailChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (emailState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ emailState }}
        </span>

        <div class="form-style-2-heading" style="padding-top: 20px;">Slack</div>
        <label for="slack_token"><span>Access Token</span>
          <input type="password" class="input-field" name="slack_token" pPassword [feedback]="false" formControlName="slack_token"/>
        </label>
<!--
        <p-button label="Test Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('slack')"
                  [loading]="slackChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (slackState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ slackState }}
        </span>
-->
      </form>
  </app-tabbed-page-tab>

  <app-tabbed-page-tab label="Monitoring">
      <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
      <form [formGroup]="monitoringForm" class="form-style-2">

        <div class="form-style-2-heading">Sentry</div>
        <label for="sentry_dsn"><span>Sentry DSN</span>
          <input type="password" class="input-field" name="sentry_dsn" pPassword [feedback]="false" formControlName="sentry_dsn"/>
        </label>
      </form>
  </app-tabbed-page-tab>

  <app-tabbed-page-tab label="Cloud">
    <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
    <form [formGroup]="cloudForm" class="form-style-2">

    <p-fieldset legend="Amazon Web Services" [toggleable]="true">
        <label for="aws_access_key"><span>Access Key</span>
          <input class="input-field" name="aws_access_key" id="aws_access_key" formControlName="aws_access_key"/>
        </label>
        <label for="aws_secret_access_key"><span>Secret Access Key</span>
          <input type="password" class="input-field" name="aws_secret_access_key" pPassword [feedback]="false" formControlName="aws_secret_access_key"/>
        </label>

      <p-button label="Test AWS Access" icon="pi pi-check"
                (onClick)="checkResourceWorkingState('aws')"
                [loading]="awsChecking"
                styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
      <span [ngStyle]="{ 'color': (awsState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
          {{ awsState }}
      </span>

    </p-fieldset>

    <p-fieldset legend="Microsoft Azure" [toggleable]="true">
        <label for="azure_subscription_id"><span>Subscription ID</span>
          <input class="input-field" name="azure_subscription_id" formControlName="azure_subscription_id"/>
        </label>
        <label for="azure_tenant_id"><span>Tenant ID</span>
          <input class="input-field" name="azure_tenant_id" formControlName="azure_tenant_id"/>
        </label>
        <label for="azure_client_id"><span>Client ID</span>
          <input class="input-field" name="azure_client_id" id="azure_client_id" formControlName="azure_client_id"/>
        </label>
        <label for="azure_client_secret"><span>Client Secret</span>
          <input type="password" class="input-field" name="azure_client_secret" pPassword [feedback]="false" formControlName="azure_client_secret"/>
        </label>

      <p-button label="Test Azure Access" icon="pi pi-check"
                (onClick)="checkResourceWorkingState('azure')"
                [loading]="azureChecking"
                styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
      <span [ngStyle]="{ 'color': (azureState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
          {{ azureState }}
      </span>

    </p-fieldset>

    <p-fieldset legend="Kubernetes" [toggleable]="true">
        <label for="api_server_url"><span>API Server URL</span>
          <input class="input-field"  name="k8s_api_server_url" formControlName="k8s_api_server_url"/>
        </label>

        <label for="k8s_namespace"><span>Namespace</span>
          <input class="input-field" name="k8s_namespace" formControlName="k8s_namespace"/>
        </label>

        <label for="k8s_token"><span>Token (base64 encoded)</span>
          <textarea class="textarea-field" name="k8s_token" formControlName="k8s_token" [rows]="10" [cols]="70" style="font-family: monospace;" pInputTextarea></textarea>
        </label>

        <p-button label="Test Kubernetes Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('kubernetes')"
                  [loading]="kubernetesChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (kubernetesState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ kubernetesState }}
        </span>

    </p-fieldset>
    </form>

  </app-tabbed-page-tab>

  <app-tabbed-page-tab label="Identity Providers">
    <form [formGroup]="idpForm">

    <p-fieldset legend="LDAP" [toggleable]="true">
        <div class="mb-4">
            <p-checkbox formControlName="ldap_enabled" binary="true" label="LDAP Enabled"></p-checkbox>
        </div>

        <div class="formgrid grid" *ngIf="idpForm.controls['ldap_enabled'].value">

            <!-- ldap server -->
            <div class="field col-12 grid">
                <label class="col-1" for="ldap_server">Server Address</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="ldap_server" id="ldap_server" formControlName="ldap_server" placeholder="eg: ldap://ldap.forumsys.com"/>
                </div>
            </div>

            <!-- bind dn -->
            <div class="field col-12 grid">
                <label class="col-1" for="bind_dn">Bind DN</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="bind_dn" id="bind_dn" formControlName="bind_dn" placeholder="eg: cn=read-only-admin,dc=example,dc=com"/>
                </div>
            </div>

            <!-- password -->
            <div class="field col-12 grid">
                <label class="col-1" for="bind_password">Bind Password</label>
                <div class="col-11">
                    <input class="input-field w-full" pPassword type="password" name="bind_password" [feedback]="false" formControlName="bind_password"/>
                </div>
            </div>

            <!-- base dn -->
            <div class="field col-12 grid">
                <label class="col-1" for="base_dn">Base DN</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="base_dn" id="base_dn" formControlName="base_dn" placeholder="eg: dc=example,dc=com"/>
                </div>
            </div>

            <!-- search filter -->
            <div class="field col-12 grid">
                <label class="col-1" for="search_filter">User Search Filter</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="search_filter" id="search_filter" formControlName="search_filter" placeholder="eg: uid=%s"/>
                </div>
            </div>

            <!-- connection test button -->
            <div class="field col-12 grid">
                <p-button label="Test LDAP Connection" icon="pi pi-check"
                          (onClick)="checkResourceWorkingState('ldap')"
                          [loading]="ldapChecking"
                          styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
                <span [ngStyle]="{ 'color': (ldapState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
                    {{ ldapState }}
                </span>
            </div>

        </div>

    </p-fieldset>

    <p-fieldset legend="OpenID Connect / OAuth 2" [toggleable]="true">
        <!-- GOOGLE -->
        <p-divider align="left">
            <b class="text-xl">Google</b>
        </p-divider>

        <div class="mb-4">
            <p-checkbox formControlName="google_enabled" binary="true" label="Enabled"></p-checkbox>
            <a style="margin-left: 4em;" target="blank" href="https://developers.google.com/identity/openid-connect/openid-connect#python">Help Docs</a>
        </div>

        <div class="formgrid grid" *ngIf="idpForm.controls['google_enabled'].value">

            <!-- google client id -->
            <div class="field col-12 grid">
                <label class="col-1" for="google_client_id">Client ID</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="google_client_id" id="google_client_id" formControlName="google_client_id"/>
                </div>
            </div>

            <!-- google client secret -->
            <div class="field col-12 grid">
                <label class="col-1" for="google_client_secret">Client Secret</label>
                <div class="col-11">
                    <input class="input-field w-full" pPassword type="password" name="google_client_secret" id="google_client_secret" formControlName="google_client_secret"/>
                </div>
            </div>

        </div>

        <!-- MICROSOFT -->
        <p-divider align="left">
            <b class="text-xl">Microsoft</b>
        </p-divider>

        <div class="mb-4">
            <p-checkbox formControlName="microsoft_enabled" binary="true" label="Enabled"></p-checkbox>
            <a style="margin-left: 4em;" target="blank" href="https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc">Help Docs</a>
        </div>

        <div class="formgrid grid" *ngIf="idpForm.controls['microsoft_enabled'].value">

            <!-- microsoft client id -->
            <div class="field col-12 grid">
                <label class="col-1" for="microsoft_client_id">Client ID</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="microsoft_client_id" id="microsoft_client_id" formControlName="microsoft_client_id"/>
                </div>
            </div>

            <!-- microsoft client secret -->
            <div class="field col-12 grid">
                <label class="col-1" for="microsoft_client_secret">Client Secret</label>
                <div class="col-11">
                    <input class="input-field w-full" pPassword type="password" name="microsoft_client_secret" id="microsoft_client_secret" formControlName="microsoft_client_secret"/>
                </div>
            </div>

        </div>

        <!-- GITHUB -->
        <p-divider align="left">
            <b class="text-xl">GitHub</b>
        </p-divider>

        <div class="mb-4">
            <p-checkbox formControlName="github_enabled" binary="true" label="Enabled"></p-checkbox>
            <a style="margin-left: 4em;" target="blank" href="https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps">Help Docs</a>
        </div>

        <div class="formgrid grid" *ngIf="idpForm.controls['github_enabled'].value">

            <!-- github client id -->
            <div class="field col-12 grid">
                <label class="col-1" for="github_client_id">Client ID</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="github_client_id" id="github_client_id" formControlName="github_client_id"/>
                </div>
            </div>

            <!-- github client secret -->
            <div class="field col-12 grid">
                <label class="col-1" for="github_client_secret">Client Secret</label>
                <div class="col-11">
                    <input class="input-field w-full" pPassword type="password" name="github_client_secret" id="github_client_secret" formControlName="github_client_secret"/>
                </div>
            </div>

        </div>

        <!-- AUTH0 -->
        <p-divider align="left">
            <b class="text-xl">Auth0</b>
        </p-divider>

        <div class="mb-4">
            <p-checkbox formControlName="auth0_enabled" binary="true" label="Enabled"></p-checkbox>
            <a style="margin-left: 4em;" target="blank" href="https://auth0.com/docs/quickstart/webapp/python/01-login">Help Docs</a>
        </div>

        <div class="formgrid grid" *ngIf="idpForm.controls['auth0_enabled'].value">

            <!-- auth0 client id -->
            <div class="field col-12 grid">
                <label class="col-1" for="auth0_client_id">Client ID</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="auth0_client_id" id="auth0_client_id" formControlName="auth0_client_id"/>
                </div>
            </div>

            <!-- auth0 client secret -->
            <div class="field col-12 grid">
                <label class="col-1" for="auth0_client_secret">Client Secret</label>
                <div class="col-11">
                    <input class="input-field w-full" pPassword type="password" name="auth0_client_secret" id="auth0_client_secret" formControlName="auth0_client_secret"/>
                </div>
            </div>

            <!-- auth0 openid config url -->
            <div class="field col-12 grid">
                <label class="col-1" for="auth0_openid_config_url">Auth0 OpenID Config URL</label>
                <div class="col-11">
                    <input class="input-field w-full" pInputText name="auth0_openid_config_url" id="auth0_openid_config_url" formControlName="auth0_openid_config_url"
                           placeholder="eg: https://dev-lk3j1h5k37e5yyiv.us.auth0.com/.well-known/openid-configuration"/>
                </div>
            </div>

        </div>

    </p-fieldset>
    </form>

  </app-tabbed-page-tab>

</app-tabbed-page>

<div style="margin: 8px 0 0 4px;">
  <p-button label="Save Settings" icon="pi pi-check" (onClick)="saveSettings()"
            [disabled]="!auth.hasPermission(null, 'admin')"
            [pTooltip]="auth.permTip(null, 'admin')"></p-button>
</div>
