<p-tabView [(activeIndex)]="tabIndex">
  <p-tabPanel header="General">
      <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
      <form [formGroup]="generalForm" class="form-style-2">
        <label for="server_url"><span>Kraken Server URL</span>
          <input type="text" class="input-field" name="server_url" pInputText formControlName="server_url" placeholder="ex: https://kraken.mycorp.com"/>
        </label>

        <label for="clickhouse_addr"><span>ClickHouse Proxy Address</span> <!-- (storage for logs) (ip:port) -->
          <input type="text" class="input-field" name="clickhouse_addr" pInputText formControlName="clickhouse_addr" placeholder="ex: 1.2.3.4:9001"/>
        </label>
      </form>
  </p-tabPanel>

  <p-tabPanel header="Notifications">
      <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
      <form [formGroup]="notificationForm" class="form-style-2">

        <div class="form-style-2-heading">E-Mail</div>
        <label for="smtp_server"><span>SMTP Server</span>
          <input type="text" class="input-field" name="smtp_server" pInputText formControlName="smtp_server"/>
        </label>
        <label for="smtp_tls"><span>SMTP SSL/TLS</span>
          <p-inputSwitch formControlName="smtp_tls" name="smtp_tls"></p-inputSwitch>
        </label>
        <label for="smtp_from"><span>From Address</span>
          <input type="text" class="input-field" name="smtp_from" pInputText formControlName="smtp_from"/>
        </label>
        <label for="smtp_user"><span>SMTP User</span>
          <input type="text" class="input-field" name="smtp_user" pInputText formControlName="smtp_user"/>
        </label>
        <label for="smtp_password"><span>SMTP Password</span>
          <input type="password" class="input-field" name="smtp_password" pPassword [feedback]="false" formControlName="smtp_password"/>
        </label>

        <p-button label="Test Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('email')"
                  [loading]="emailChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (emailState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ emailState }}
        </span>

        <div class="form-style-2-heading" style="padding-top: 20px;">Slack</div>
        <label for="slack_token"><span>Access Token</span>
          <input type="password" class="input-field" name="slack_token" pPassword [feedback]="false" formControlName="slack_token"/>
        </label>
<!--
        <p-button label="Test Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('slack')"
                  [loading]="slackChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (slackState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ slackState }}
        </span>
-->
      </form>
  </p-tabPanel>

  <p-tabPanel header="Monitoring">
      <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
      <form [formGroup]="monitoringForm" class="form-style-2">

        <div class="form-style-2-heading">Sentry</div>
        <label for="sentry_dsn"><span>Sentry DSN</span>
          <input type="password" class="input-field" name="sentry_dsn" pPassword [feedback]="false" formControlName="sentry_dsn"/>
        </label>
      </form>
  </p-tabPanel>

  <p-tabPanel header="Cloud">
    <!-- https://www.sanwebe.com/2014/08/css-html-forms-designs -->
    <form [formGroup]="cloudForm" class="form-style-2">

    <p-fieldset legend="Amazon Web Services" [toggleable]="true">
        <label for="aws_access_key"><span>Access Key</span>
          <input class="input-field" name="aws_access_key" id="aws_access_key" formControlName="aws_access_key"/>
        </label>
        <label for="aws_secret_access_key"><span>Secret Access Key</span>
          <input type="password" class="input-field" name="aws_secret_access_key" pPassword [feedback]="false" formControlName="aws_secret_access_key"/>
        </label>

      <p-button label="Test AWS Access" icon="pi pi-check"
                (onClick)="checkResourceWorkingState('aws')"
                [loading]="awsChecking"
                styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
      <span [ngStyle]="{ 'color': (awsState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
          {{ awsState }}
      </span>

    </p-fieldset>

    <p-fieldset legend="Microsoft Azure" [toggleable]="true">
        <label for="azure_subscription_id"><span>Subscription ID</span>
          <input class="input-field" name="azure_subscription_id" formControlName="azure_subscription_id"/>
        </label>
        <label for="azure_tenant_id"><span>Tenant ID</span>
          <input class="input-field" name="azure_tenant_id" formControlName="azure_tenant_id"/>
        </label>
        <label for="azure_client_id"><span>Client ID</span>
          <input class="input-field" name="azure_client_id" id="azure_client_id" formControlName="azure_client_id"/>
        </label>
        <label for="azure_client_secret"><span>Client Secret</span>
          <input type="password" class="input-field" name="azure_client_secret" pPassword [feedback]="false" formControlName="azure_client_secret"/>
        </label>

      <p-button label="Test Azure Access" icon="pi pi-check"
                (onClick)="checkResourceWorkingState('azure')"
                [loading]="azureChecking"
                styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
      <span [ngStyle]="{ 'color': (azureState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
          {{ azureState }}
      </span>

    </p-fieldset>

    <p-fieldset legend="Kubernetes" [toggleable]="true">
        <label for="api_server_url"><span>API Server URL</span>
          <input class="input-field"  name="k8s_api_server_url" formControlName="k8s_api_server_url"/>
        </label>

        <label for="k8s_namespace"><span>Namespace</span>
          <input class="input-field" name="k8s_namespace" formControlName="k8s_namespace"/>
        </label>

        <label for="k8s_token"><span>Token (base64 encoded)</span>
          <textarea class="textarea-field" name="k8s_token" formControlName="k8s_token" [rows]="10" [cols]="70" style="font-family: monospace;" pInputTextarea></textarea>
        </label>

        <p-button label="Test Kubernetes Access" icon="pi pi-check"
                  (onClick)="checkResourceWorkingState('kubernetes')"
                  [loading]="kubernetesChecking"
                  styleClass="p-button-outlined p-button-secondary p-button-sm"></p-button>
        <span [ngStyle]="{ 'color': (kubernetesState === 'ok' ? '#2bc62b' : 'red'), 'font-size': '1.2rem', 'font-weight': 'bold', 'padding-left': '2em'  }">
            {{ kubernetesState }}
        </span>

    </p-fieldset>
    </form>

  </p-tabPanel>

</p-tabView>

<div style="margin: 8px 0 0 4px;">
  <p-button label="Save Settings" icon="pi pi-check" (onClick)="saveSettings()"
            [disabled]="!auth.hasPermission('manage')"
            [pTooltip]="auth.permTip('manage')"></p-button>
</div>
