<p-tabView>
  <p-tabPanel header="Overview">
    <div *ngFor="let s of data | keyvalue" style="display: flex;">
      <div style="width: 20em; margin: 0 0 20px 0;">
        <div style="font-size: 1.5em;">{{ s.value.name }}</div>
        <div style="font-size: 0.8em;">{{ s.value.address }}</div>
      </div>
      <div>
        <i *ngIf="s.value.open !== 'true'" class="pi pi-check-circle" style="font-size: 2em; color: green;"></i>
        <i *ngIf="s.value.open === 'true'" class="pi pi-times-circle" style="font-size: 2em; color: red;"></i>
      </div>
    </div>

  </p-tabPanel>

  <p-tabPanel header="ELK" *ngIf="data && data['elasticsearch']">
    <h3>Cluster Health</h3>
    <div style="padding: 8px;">
      {{ data['elasticsearch']['health'][0]['status'] }}
    </div>

    <h3>Indices</h3>
    <table>
      <tr *ngFor="let idx of data['elasticsearch']['indicies']">
        <td style="padding: 8px;">
          {{ idx['index'] }}
        </td>
        <td style="padding: 8px;">
          {{ idx['store.size'] }}
        </td>
      </tr>
    </table>

    <h3>Disk Allocation</h3>
    <table>
      <ng-container *ngFor="let alc of data['elasticsearch']['allocation']">
        <tr *ngIf="alc['host']">
          <td style="padding: 8px;">
            {{ alc['host'] }}
          </td>
          <td style="padding: 8px;">
            {{ alc['disk.avail'] }} / {{ alc['disk.total'] }}
          </td>
          <td style="padding: 8px;">
            {{ alc['disk.percent'] }} %
          </td>
          <td style="padding: 8px;">
            {{ alc['disk.indices'] }}
          </td>
        </tr>
      </ng-container>
    </table>

  </p-tabPanel>

</p-tabView>
