<p-tabView>
  <p-tabPanel header="Overview">
    <div *ngFor="let s of data | keyvalue" style="display: flex;">
      <div style="width: 20em; margin: 0 0 20px 0;">
        <div style="font-size: 1.5em;">{{ s.value.name }}</div>
        <div style="font-size: 0.8em;">{{ s.value.address }}</div>
      </div>
      <div>
        <i *ngIf="s.value.open !== 'true'" class="pi pi-check-circle" style="font-size: 2em; color: green;"></i>
        <i *ngIf="s.value.open === 'true'" class="pi pi-times-circle" style="font-size: 2em; color: red;"></i>
      </div>
    </div>

  </p-tabPanel>

</p-tabView>
