<p-tabView [(activeIndex)]="tabIndex" (onChange)="handleTabChange($event)">
  <p-tabPanel header="Overview">
    <div style="display: flex;">
      <div *ngFor="let s of data | keyvalue" class="p-m-2">
        <p-card>
          <ng-template pTemplate="title">
            {{ s.value.name }}
            <i *ngIf="s.value.open !== 'true'" class="pi pi-check-circle" style="font-size: 1em; color: green;"></i>
            <i *ngIf="s.value.open === 'true'" class="pi pi-times-circle" style="font-size: 1em; color: red;"></i>
          </ng-template>
          <ng-template pTemplate="subtitle">
            {{ s.value.address }}
          </ng-template>

          <div *ngIf="s.key === 'celery'">
            <b>Current Tasks:</b>
            <div *ngFor="let t of s.value.current_tasks">
              {{ t }}
            </div>
            <div *ngIf="!s.value.current_tasks || s.value.current_tasks.length === 0">
              no tasks
            </div>
          </div>

        </p-card>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Logs">
    <div style="display: flex;">
      <p-selectButton [options]="logServices" [(ngModel)]="logServicesSelected" multiple="multiple" optionLabel="name" optionValue="value" (onChange)="loadServicesLogs()"></p-selectButton>
      <p-button label="Refresh" icon="pi pi-refresh" (onClick)="loadServicesLogs()" [style]="{'margin-left': '30px'}" [loading]="servicesLogsAreLoading"></p-button>
    </div>

    <div style="display: flex; margin: 6px 0 0 6px;">
      <div class="p-field p-grid">
        <label for="log-level" class="p-col-fixed" style="width:100px">Log Level</label>
        <div class="p-col">
          <p-dropdown id="log-level"  [options]="logLevels" [(ngModel)]="logLevel" (onChange)="loadServicesLogs()"></p-dropdown>
        </div>
      </div>

      <div *ngIf="isCelerySelected()" class="p-field p-grid" style="margin-left: 3em;">
        <label for="celery-tasks" class="p-col-fixed" style="width: 9em;">Backgroud Tasks</label>
        <div class="p-col">
          <div class="p-inputgroup">
            <p-dropdown id="celery-tasks"  [options]="celeryTasks" [(ngModel)]="celeryTask" (onChange)="loadServicesLogs()"></p-dropdown>
            <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn" (click)="loadLastCeleryTaskNames()"></button>
          </div>
        </div>
      </div>
    </div>

    <div style="height: calc(100vh - 24em); width: 100%; font-family: monospace; font-size: 0.8em; color: #eee; background-color: #222; padding: 10px; overflow-y: scroll;">
      <div *ngFor="let l of servicesLogs" style="display: flex;">
        <div style="width: 12em;" class="log-cell"> {{ l.time | localtime }}</div>
        <div style="width: 7em;" class="log-cell"> {{ l.host }}</div>
        <div style="width: 7em;" class="log-cell"> {{ l.service }}</div>
        <div style="width: 9em;" class="log-cell"> {{ l.tool }}</div>
        <div style="width: 4em;" class="log-cell" [ngClass]="'level-' + l.level.slice(0, 4).toLowerCase()"> {{ l.level.slice(0, 4) }}</div>
        <div style="white-space: pre-wrap; word-break: break-word;">{{ l.message }}</div>
      </div>
    </div>
  </p-tabPanel>

</p-tabView>
