<div>
  <p>
    <a href="{{ repoUrl }}" target="blank" style="font-size: 1.5em; font-weight: bold;">{{ repoUrl }}</a>
    <a href="{{ diffUrl }}" target="blank" style="margin-left: 20px;" *ngIf="diffUrl">diff</a>
  </p>

  <div *ngIf="changes.commits">
    <div *ngFor="let c of changes.commits" style="margin-bottom: 10px;">
      <a href="{{ c.url || repoUrl + '/commit/' + c.commit }}" target="blank"><b>{{ c.id.slice(0,8) }}</b></a>
      by <a href="mailto:{{ c.author.email }}">{{ c.author.name }}</a>
      at {{ c.timestamp | localtime }}<br>
      {{ c.message }}
      <div style="font-size: 0.8em;">
        <span *ngIf="c.modified && c.modified.length">modified {{ c.modified.length }}&nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="c.added && c.added.length">added {{ c.added.length }}&nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="c.removed && c.removed.length">removed {{ c.removed.length }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="changes.pull_request">
    Pull Request
    <a href="{{ changes.pull_request.html_url }}" target="blank">#{{ changes.pull_request.number }}</a>
    by <a href="{{ changes.pull_request.user.html_url }}" target="blank">{{ changes.pull_request.user.login }}</a> `
    at {{ changes.pull_request.updated_at | localtime }}<br>
    {{ changes.pull_request.title }}<br>
    branch: {{ changes.pull_request.head.ref }}<br>
    commits: {{ changes.pull_request.commits }}
  </div>

</div>
