<p-tabMenu [model]="tabs">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="display: flex; justify-content: space-between;">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div class="ui-menuitem-text">
                <b>{{ item.label }}</b>
            </div>
            <div
                class="ui-menuitem-icon pi pi-times"
                style="font-size: 1.3rem"
                (click)="closeTab($event, i)"
                *ngIf="i !== 0"
            ></div>
        </div>
    </ng-template>
</p-tabMenu>


<!-- Agents tab -->
<div *ngIf="activeTabIdx == 0">
  <div style="display: flex; margin: 15px 5px;">

    <p-button label="Refresh" icon="pi pi-refresh" (onClick)="refreshAgents(agentsTable)" [style]="{'margin': '0 20px 0 60px'}"></p-button>

  </div>

  <p-menu #agentMenu [popup]="true" [model]="agentMenuItems"></p-menu>
  <p-table #agentsTable
           id="agents"
           [value]="agents"
           [lazy]="true"
           selectionMode="single"
           [(selection)]="agent"
           (onLazyLoad)="loadAgentsLazy($event)"
           [paginator]="true"
           [rows]="30"
           [totalRecords]="totalAgents"
           [loading]="loadingAgents"
           [rowsPerPageOptions]="[10,20,30,50,100]"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60px;">ID</th>
        <th style="width: 100px;">Address</th>
        <th style="width: 120px;">Name</th>
        <th style="width: 120px;">IP Address</th>
        <th style="width: 120px;">State</th>
        <th style="width: 120px;">Disabled</th>
        <th style="width: 120px;">Last Seen</th>
        <th style="width: 10%;">Groups</th>
        <th style="width: 10%;">Job</th>
        <th style="width: 4rem;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-agent>
      <tr [pSelectableRow]="agent">
        <td>{{agent.id}}</td>
        <td>{{agent.address}}</td>
        <td><a routerLink="/agents/{{agent.id}}">{{agent.name}}</a></td>
        <td>{{agent.ip_address}}</td>
        <td>{{agent.state}}</td>
        <td>{{agent.disabled}}</td>
        <td>{{ agent.last_seen ? (agent.last_seen | localtime) : '' }}</td>
        <td>
          <span *ngFor="let g of agent.groups" style="padding-right: 5px;">
            <a routerLink="/agents-groups/{{ g.id }}">{{ g.name }}</a>
          </span>
        </td>
        <td><a *ngIf="agent.job" routerLink="/runs/{{ agent.job.run_id }}/jobs">{{ agent.job.id }}</a></td>
        <td>
          <button
            type="button"
            pButton
            icon="pi pi-bars"
            (click)="showAgentMenu($event, agentMenu, agent)"
            ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Single agent tab -->
<div *ngIf="activeTabIdx != 0" class="ui-widget">
  <table style="margin-top: 10px;">
    <tr>
      <th style="width: 8rem;"></th>
      <th style="width: 12rem;"></th>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        Agent Name
      </td>
      <td>
        {{ agentTab.agent.name }}
      </td>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        Address
      </td>
      <td>
        {{ agentTab.agent.address }}
      </td>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        IP Address
      </td>
      <td>
        {{ agentTab.agent.ip_address }}
      </td>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        State
      </td>
      <td>
        {{ agentTab.agent.state }}
      </td>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        Disabled
      </td>
      <td>
        {{ agentTab.agent.disabled }}
      </td>
    </tr>

    <tr>
      <td style="text-align: right; padding-right: 10px;">
        Groups
      </td>
      <td>
        <p-multiSelect [options]="agentGroups" optionLabel="name" [(ngModel)]="agentTab.agent.groups" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
      </td>
    </tr>
  </table>
  <p-button label="Save" icon="pi pi-check" (onClick)="saveAgent(agentsTable)"></p-button>
</div>
