:host ::ng-deep .menubar
  background-color: #007ad9
  border-width: 0px

:host ::ng-deep .menubar .ui-menuitem-link
  color: white

:host ::ng-deep .menubar .ui-menuitem-link .ui-menuitem-text
  color: white

:host ::ng-deep .menubar .ui-submenu .ui-menuitem-link .ui-menuitem-text
  color: black
