<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .Architecture-1-hex { color: #0D090A; }
  .Architecture-2-hex { color: #1C2F40; }
  .Architecture-3-hex { color: #1F5373; }
  .Architecture-4-hex { color: #3C88A6; }
  .Architecture-5-hex { color: #49AABF; }


  .content {
      margin: -8px -8px 8px -8px;
  }

  .toolbar {
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007ad9;
    color: white;
    font-weight: 600;
  }

.logo1 {font-family: 'Audiowide', cursive;}
.logo2 {font-family: 'Orbitron', sans-serif;}
.logo3 {font-family: 'Nova Flat', cursive;}

.logo4 {font-family: 'Finger Paint', cursive;}
.logo5 {font-family: 'Caesar Dressing', cursive;}
.logo6 {font-family: 'Love Ya Like A Sister', cursive;}
.logo7 {font-family: 'Rock Salt', cursive;}
.logo8 {font-family: 'Turret Road', cursive;}
.logo9 {font-family: 'ZCOOL KuaiLe', cursive;}
.logo10 {font-family: 'Patrick Hand SC', cursive;}

</style>

<div class="content" role="main">

  <div class="toolbar" role="banner">
    <a style="font-size: 2rem; cursor: pointer; color: white;" class="logo1" href="/">Kraken<span style="font-size: 0.3em;"> {{ krakenVersion }}</span></a>
    <!--    <span style="font-size: 2rem; cursor: pointer;" [class]="logoClass" (click)="randomLogoFont()">Kraken</span> -->

    <!--
    <p-menubar [model]="topMenuItems" [style]="{'margin-right': '5px'}">
      <div>
        <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
      </div>
    </p-menubar>
    -->
  </div>

  <p-toast></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <app-breadcrumbs></app-breadcrumbs>

  <div style="margin: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
