*html
browserslist
*~
*sass
.editorconfig
.gitignore
.prettierignore
*.sh
.gitkeep
src/app/backend/*
*.ico
.dockerignore
*.in
Dockerfile
nginx.conf
dist
.browserslistrc
openapi-generator-cli.jar
.angular
src/assets/Forking branch.drawio
src/assets/*png
src/assets/*svg